/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	margin: 0px;
}

.navfont {
    color: white !important;
    font-size: 1rem;
}

.smallfont {
    display: inline;
    color: white !important;
    font-size: 13px;
}

.attached {
	margin: 0px;
}

.main {
	background: #fff url(/bg.png) top right repeat;
	min-height: 500px;
}

.wrap {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

.center {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.sep20 {
	height: 20px;
}
